<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

    <h2>Pirate</h2>
    <p>
      Name: <%=@pirate.name%>
      Weight: <%=@pirate.weight%>
      Height: <%=@pirate.height%>
    </p>

    <h2>Ships</h2>
    <p>
      Name: <%= @ship.name %>
      Type: <%= @ship.type %>
      Booty: <%= @ship.booty %>
    <p>

  </body>

</html>
